<%- include('../../../partials/head.ejs') %>
<body class="rtl">
<div class="bmd-layout-container bmd-drawer-f-l avam-container animated bmd-drawer-in">
  <%- include('../../../partials/header.ejs') %>
  <div id="dw-s1" class="bmd-layout-drawer bg-faded">
    <%- include('../../../partials/sidebar/index.ejs') %>
  </div>

  <main class="bmd-layout-content">
    <div class="container-fluid">
      <div class="row m-1 pb-4 mb-3">
        <div class="col-12 p-2">
          <h3 class="lite-text">تعديل بيانات الموظف</h3>
          <a href="/school-admin/employees" class="btn btn-secondary float-left">عودة</a>
        </div>
      </div>

      <% if (locals.error && locals.error.length > 0) { %>
  <div class="alert alert-danger"><%= locals.error %></div>
<% } %>
<% if (locals.success && locals.success.length > 0) { %>
  <div class="alert alert-success"><%= locals.success %></div>
<% } %>

      <div class="row m-1">
        <div class="col-12 p-2">
          <div class="card shade h-100">
            <div class="card-body">
              <form action="/school-admin/employees/<%= employee._id %>/edit" method="POST">
                <input type="hidden" name="_csrf" id="csrfToken" value="<%= csrfToken %>">
                <div class="form-group">
                  <label>الاسم *</label>
                  <input type="text" name="name" value="<%= employee.name %>" required class="form-control">
                </div>
                <div class="form-group">
                  <label>رقم الهوية</label>
                  <input type="text" name="nationalId" value="<%= employee.nationalId %>" class="form-control">
                </div>
                <div class="form-group">
                  <label>رقم الهاتف</label>
                  <input type="text" name="phone" value="<%= employee.phone %>" class="form-control">
                </div>
                <div class="form-group">
                  <label>المسمى الوظيفي</label>
                  <input type="text" name="jobTitle" value="<%= employee.jobTitle %>" class="form-control">
                </div>
                <div class="form-group">
                  <label>العنوان</label>
                  <input type="text" name="address" value="<%= employee.address %>" class="form-control">
                </div>
                <div class="form-group">
                  <label>الراتب</label>
                  <input type="number" name="salary" value="<%= employee.salary %>" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">تحديث الموظف</button>
                <a href="/school-admin/employees" class="btn btn-secondary">إلغاء</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<%- include('../../../partials/scripts.ejs') %>
</body>
</html>
