
<div class="container-fluid side-bar-container">

  <header class="pb-0">
    <a class="navbar-brand">
<img class="side-logo" src="/logo.png" alt="شعار المؤسسة" style="max-width: 29%; height: auto;">
      <span class="side-bar-title">مؤسسة السنابل</span>
    </a>
  </header>




  <% if (user?.role === 'super-admin') { %>
    <%- include('./super-admin.ejs') %>
  <% } %>

  <% if (user?.role === 'school-admin' || user?.role === 'school-coordinator') { %>
    <%- include('./school-admin.ejs') %>
  <% } %>

  <% if (user?.role === 'teacher') { %>
    <%- include('./teacher.ejs') %>
  <% } %>
  <% if (user?.role === 'attendance') { %>
    <%- include('./attendance.ejs') %>
  <% } %>
  <% if (user?.role === 'parent') { %>
    <%- include('./parent.ejs') %>
  <% } %>

</div>

